<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <img src=<%= imgUrl %> alt="Crazy superman gif" class="img-fluid d-block mx-auto">
    </div>
</main>

<%- include('../partials/footer') %>